.header {
}
.logo {
  // width: 120px;
  height: 31px;
  position: relative;
  top: -17px;
  left: -10px;
  // background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  color: #fff;
  font-size: 30px;
}

.navItems {
  float: right;
}
