.habitListItemSchedule {
  div {
    display: inline-block;
  }

  .scheduleItem {
    border: 1px solid rgb(110, 110, 110);
    width: 1.8rem;
    height: 1.7rem;
    margin: 2px;
    padding: 0.2rem 0 0 0.1rem;
    border-radius: 5px;
    font-size: 0.65rem;
  }

  .dayScheduled {
    background-color: #ffc250c4;
  }

  .dayCompleted {
    background-color: rgb(141, 238, 141);
    // :root {
    //   --borderWidth: 7px;
    //   --height: 24px;
    //   --width: 12px;
    //   --borderColor: #78b13f;
    // }

    // display: inline-block;
    // transform: rotate(45deg);
    // height: var(--height);
    // width: var(--width);
    // border-bottom: var(--borderWidth) solid var(--borderColor);
    // border-right: var(--borderWidth) solid var(--borderColor);
  }

  .todayDay {
    border: 2px solid rgb(34, 34, 34);
  }

  .todayDayIcon {
    position: relative;
    left: 0.4rem;
    top: -0.5rem;
    color: rgb(34, 34, 34);
    font-size: 1.2rem;
  }

  .dayItemContainer {
    display: inline-flex;
    flex-direction: column;
  }
}
